#cloud-config

package_upgrade: true

write_files:
  # Install Docker repo
  - content: |
      [docker-ce-stable]
      name=Docker CE Stable - $basearch
      baseurl=https://download.docker.com/linux/centos/7/$basearch/stable
      enabled=1
      gpgcheck=1
      gpgkey=https://download.docker.com/linux/centos/gpg
    path: /etc/yum.repos.d/docker-ce.repo
  # Install Kubernetes repo
  - content: |
      [kubernetes]
      name=Kubernetes
      baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-$basearch
      enabled=1
      gpgcheck=1
      repo_gpgcheck=1
      gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
    path: /etc/yum.repos.d/kubernetes.repo

packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - kubeadm-{{ kubenetes_version }}
  - kubectl-{{ kubenetes_version }}
  - kubelet-{{ kubenetes_version }}
  - yum-plugin-versionlock

runcmd:
  - yum -y install docker-ce kubeadm kubectl kubelet
  - systemctl enable docker
  - systemctl enable kubelet
  - yum versionlock kube* docker-* containerd*
  - touch /opt/ready.txt
  - reboot
